<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="main1">
        <div class="left">
         <div><span>THE</span></div>
         <div>NORTH</div>
         <div>POLE</div>
        </div>
        <div class="right">
         <div><a href="../index.html">HOME</a></div>
         <div><a href="../templates/explore.html">EXPLORE</a></div>
         <div class="contact"><a href="../templates/contact.html">CONTACT</a></div>
        </div>
        
     </div>
     <div class="cmain2">
        <div class="m2h">CONTACT US</div>
        <div class="m2text">If you have any questions, please contact us by telephone or email and we'll get back to you as soon as possible.</div>
        <div class="m2txt">We look forward to hearing from you</div>
     
     <div class="cmain3">
        <div>
             <div class="m3h">Address:</div>
             <div>500 Terry Francine Street</div>
             <div> San Francisco, CA 94158</div>
             <div class="m3h">Email:</div>
             <div>thenorthpole@gmail.com</div>
        </div>
        <div>
            <div class="m3h">Phones:</div>
           <div>General Inquiries </div>
           <div> 123-456-7890</div>
           <div>Registration Inquiries</div>
           <div>123-456-7895</div>
        </div>
     </div>
    </div>
    <div class="cmain4">
        <div>For tour enquiries ,or any questions,please use the form</div>
        <div> below and we will get back to you.</div>

    </div>
    <div class="cmain5">
        <div class="m5left">
            <div><label for="name">First Name :</label></div>
            <div><input type="text" id="name"></div>
            <div><label for="name">Last Name :</label></div>
            <div><input type="text" id="name"></div>
            <div><label for="name">E-mail :</label></div>
            <div><input type="email" id="name"></div>
            <div><label for="name">Password :</label></div>
            <div><input type="password" id="name"></div>




        </div>
        <div class="m5right">
            <div><label for="name">Message :</label></div>
            <div class="msg"><input type="text" id="name"></div>
            <div class="m5submit">
                <div><input type="submit" value="Submit"></div>
            </div>
    

        </div>
    </div>
    <div class="cmain6">
        <div>Follow Us</div>
        <div>|</div>
        <div><i class="fa fa-facebook" aria-hidden="true"></i></div>
        <div><i class="fa fa-instagram" aria-hidden="true"></i></div>
        <div><i class="fa fa-youtube-play" aria-hidden="true"></i></div>
        <div><i class="fa fa-twitter" aria-hidden="true"></i></div>
        <div><i class="fa fa-tripadvisor" aria-hidden="true"></i></div>
    </div>


    
</body>
</html>