<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/explore.css">
</head>
<body>
    <div class="main1">
        <div class="left">
         <div><span>THE</span></div>
         <div>NORTH</div>
         <div>POLE</div>
        </div>
        <div class="right">
         <div><a href="../index.html">HOME</a></div>
         <div class="explore"><a href="../templates/explore.html">EXPLORE</a></div>
         <div><a href="../templates/contact.html">CONTACT</a></div>
        </div>
        
     </div>
     <div class="emain2">
        <div>
            <div><img src="../images/globe.png" alt=""></div>
            <div>EXPLORE</div>
        </div>
        <div>
            <div><img src="../images/eat.webp" alt=""></div>
            <div>EAT</div>
        </div>
        <div>
            <div><img src="../images/play.webp" alt=""></div>
            <div>PLAY</div>
        </div>
        <div>
            <div><img src="../images/relax.webp" alt=""></div>
            <div>RELAX</div>
        </div>
     </div>
     <div class="emain3">
        <div>
            <div class="ep10"><img src="../images/ep9.jpeg" alt="">
            </div>
            <div class="em3sub1">
                <div class="symbol"><img src="../images/globe.png" alt=""></div>
                <div class="em3sub2">
                    <div class="em3text">TAKE A HUGE BITE OUT OF THE BIG APPLE</div>
                    <div class="em3text2">
                        <div class="e3txt">New York City, USA</div>
                        <div><button>MORE INFO</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="ep10"><img src="../images/ep5.jpeg" alt=""></div>
            <div class="em3sub1">
                <div class="symbol"><img src="../images/play.webp" alt=""></div>
                <div class="em3sub2">
                    <div class="em3text">SWIM & DIVEWITH TIGER SHARKS </div>
                    <div class="em3text2">
                        <div class="e3txt">Bahamas, Caribbean</div>
                        <div><button>MORE INFO</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main2 -->
    <div class="emain3">
        <div>
            <div class="ep10"><img src="../images/ep6.jpeg" alt=""></div>
            <div class="em3sub1">
                <div class="symbol"><img src="../images/relax.webp" alt=""></div>
                <div class="em3sub2">
                    <div class="em3text">DETOX & REJUVENATE IN THAI LUXURY</div>
                    <div class="em3text2">
                        <div class="e3txt">Ko Pha Ngan, Thailand</div>
                        <div><button>MORE INFO</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="ep5"><img src="../images/ep11.jpeg" alt=""></div>
            <div class="em3sub1">
                <div class="symbol"><img src="../images/eat.webp" alt=""></div>
                <div class="em3sub2">
                    <div class="em3text"> LEARN TO COOK IN FRENCH </div>
                    <div class="em3text2">
                        <div class="e3txt">
                           
                            Paris, France</div>
                        <div><button>MORE INFO</button></div>
                    </div>
                </div>
            </div> 
            </div>
         </div>
    </div>
    <!-- main3 -->
    <div class="emain3">
        <div>
            <div class="ep10"><img src="../images/ep12.jpeg" alt=""></div>
            <div class="em3sub1">
                <div class="symbol"><img src="../images/play.webp" alt=""></div>
                <div class="em3sub2">
                    <div class="em3text">CYCLE THROUGH THE ROCKY MOUNTAINS</div>
                    <div class="em3text2">
                        <div class="e3txt">Denver, USA</div>
                        <div><button>MORE INFO</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="ep5"><img src="../images/ep13.jpeg" alt=""></div>
            <div class="em3sub1">
                <div class="symbol"><img src="../images/relax.webp" alt=""></div>
                <div class="em3sub2">
                    <div class="em3text"> EXPLORE  THE LAST HAVENS ON THE PLANET</div>
                    <div class="em3text2">
                        <div class="e3txt">The Sahara, Africa</div>
                        <div><button>MORE INFO</button></div>
                    </div>
                </div>
            </div> 
        </div>
        </div>
    </div>
    <!-- main4 -->
    <div class="emain3">
        
        <div>
            <div class="ep5"><img src="../images/ep14.jpeg" alt=""></div>
            <div class="em3sub1">
                <div class="symbol"><img src="../images/globe.png" alt=""></div>
                <div class="em3sub2">
                    <div class="em3text">THE LARGEST ANCIENT AMPHITHEATRE</div>
                    <div class="em3text2">
                        <div class="e3txt">Rome, Italy</div>
                        <div><button>MORE INFO</button></div>
                    </div>
                </div>
            </div> 
        </div>
        <div>
            <div class="ep10"><img src="../images/ep21.webp" alt=""></div>
            <div class="em3sub1">
                <div class="symbol"><img src="../images/play.webp" alt=""></div>
                <div class="em3sub2">
                    <div class="em3text">RUN OFF THE SLOPE WITH FREE PARACHUTES</div>
                    <div class="em3text2">
                        <div class="e3txt">Queenstown, New Zealand</div>
                        <div><button>MORE INFO</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main5 -->
    <div class="emain3">
        
        <div>
            <div class="ep5"><img src="../images/ep18.jpeg" alt=""></div>
            <div class="em3sub1">
                <div class="symbol"><img src="../images/play.webp" alt=""></div>
                <div class="em3sub2">
                    <div class="em3text">CLIMBING MAY BE HARD, BUT IT'S EASIER THAN GROWING UP</div>
                    <div class="em3text2">
                        <div class="e3txt">Medeo, Kazakhstan</div>
                        <div><button>MORE INFO</button></div>
                    </div>
                </div>
            </div> 
        </div>
        <div>
            <div class="ep10"><img src="../images/ep22.jpeg" alt=""></div>
            <div class="em3sub1">
                <div class="symbol"><img src="../images/relax.webp" alt=""></div>
                <div class="em3sub2">
                    <div class="em3text">THE LESSER SUNDA ISLANDS</div>
                    <div class="em3text2">
                        <div class="e3txt">Bali, Indonesia</div>
                        <div><button>MORE INFO</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>